<% if flash.has?(:error) %>
  <div class="flash error"><p><%= flash[:error]%></p></div>
<% end %>
<% if flash.has?(:notice) %>
  <div class="flash notice"><p><%= flash[:notice]%></p></div>
<% end %>

<h1><%= t("login_header") %></h1>

<form action="/login" method="post">
  <div class="field">
    <label for="username"><%= t("username") %></label>
    <input id="username" name="username" type="text" autofocus="autofocus">
  </div>
  <div class="field">
    <label for="password"><%= t("password") %></label>
    <input id="password" name="password" type="password">
  </div>
  <input name="lt" type="hidden" value="<%= @login_ticket.ticket %>">
  <input name="warn" type="hidden">
  <% if @service_url %>
    <input name="service" type="hidden" value="<%= @service_url %>">
  <% end %>
  <div class="actions">
    <input type="submit" value="<%= t("login_button") %>">
  </div>
</form>

<script>
  window.onload = function() {
    if (!("autofocus" in document.createElement("input"))) {
      document.getElementById("username").focus();
    }
  }
</script>
